<div class="glass-panel">
  <div class="scanner-header">
    <h2>RQS DSP CORE</h2>
    <p>Arraste a faixa crua do Suno para homologação acústica</p>
  </div>

  <div class="drop-zone"
       (dragover)="onDragOver($event)"
       (drop)="onDrop($event)"
       (dragleave)="onDragLeave($event)"
       (click)="fileInput.click()"
       [class.active]="isDragging">

    <div class="icon-container">
      <span class="cyber-icon">🎧</span>
    </div>

    <p class="drop-text" *ngIf="!selectedFile">
      Solte o arquivo .WAV aqui<br>
      <span style="font-size: 12px; color: #00f0ff; opacity: 0.8;">ou clique para buscar no sistema</span>
    </p>

    <p class="drop-text file-ready" *ngIf="selectedFile">💿 {{ selectedFile.name }} interceptado.</p>

    <input
      type="file"
      #fileInput
      accept=".wav, .mp3"
      (change)="onFileSelect($event)"
      style="display: none;">
  </div>
   <div class="stem-action-panel" *ngIf="selectedFile && !isProcessing && !isExtractingStems">
    <button class="btn-stem-extract" (click)="extrairStems()" style="background-color: #ff003c; color: white; padding: 10px 20px; border: none; font-weight: bold; cursor: pointer; margin-bottom: 15px;">
      🧬 EXTRAIR 6 STEMS (ISOLAMENTO MULTI-PISTA)
    </button>
  </div>

  <div class="processing-status stem-status" *ngIf="isExtractingStems">
    <div class="spinner"></div>
    <p>🧬 IA Demucs está dissecando a matriz acústica em 6 canais... (Pode demorar alguns minutos. Não feches a aba!)</p>
   </div>
  <app-mastering-panel
    *ngIf="selectedFile && !isProcessing"
    [originalFile]="selectedFile"
    [isProcessing]="isProcessing"
    [masteredAudioUrl]="processedAudioUrl"
    (processMaster)="processarMaster($event)"
    (estiloAlterado)="trocarPerfil($any($event))"> </app-mastering-panel>

  <div class="processing-status" *ngIf="isProcessing">
    <div class="spinner"></div>
    <p>⚙️ RQS Reator processando telemetria... Aguarde.</p>
  </div>

  <div class="download-section" *ngIf="processedAudioUrl">
    <a [href]="processedAudioUrl" [download]="processedAudioName" class="btn-download">
      ✅ Masterização concluída! [Download áudio]
    </a>

  <button class="btn-danger"(click)="ejetarFaixa()">
      ⏏️ EJETAR FAIXA E LIMPAR DECK
  </button>
  </div>

  <app-ekg-monitor *ngIf="processedAudioUrl" [audioUrl]="processedAudioUrl"></app-ekg-monitor>
</div>
